<!-- <= form_for(@licenta) do |f| %> -->
  <!-- < if @licenta.errors.any? %> -->
    <!-- <div id="error_explanation"> -->
      <!-- <h2><= pluralize(@licenta.errors.count, "error") %> prohibited this licenta from being saved:</h2> -->

      <!-- <ul> -->
      <!-- < @licenta.errors.full_messages.each do |msg| %> -->
        <!-- <li><= msg %></li> -->
      <!-- < end %> -->
      <!-- </ul> -->
    <!-- </div> -->
  <!-- < end %> -->

  <!-- <div class="field"> -->
    <!-- <= f.label :user_id %><br> -->
    <!-- <= f.number_field :user_id %> -->
  <!-- </div> -->
  <!-- <div class="field"> -->
    <!-- <= f.label :tema_id %><br> -->
    <!-- <= f.number_field :tema_id %> -->
  <!-- </div> -->

  <!-- < if @licenta.new_record? == true %> -->
    <!-- <= f.hidden_field :renuntat, :value => false %> -->
  <!-- < end %> -->

  <!-- <div class="actions"> -->
    <!-- <= f.submit %> -->
  <!-- </div> -->
<!-- < end %> -->
