<h1>Arhiva Home</h1>

<% if @sesiuni.count == 0 %>

	There are no previous sessions.

<% else %>

	<table class="table table-striped table hover">
	<thead>
		<tr>
		<th class="col-sm-1">Nr.</th>
		<th>Sesiune</th>
		</tr>
	</thead>
	<tbody>
		<% nr = 0 %>
		<% @sesiuni.each do |sesiune| %>
			<% nr = nr + 1 %>
			<tr>

				<td><%= nr %></td>

				<td>
					<% if sesiune.este_deschisa %>
						<%= link_to sesiune.data_start.strftime("%B %Y") + " - " + "Present", root_path %>
					<% else %>
						<%= link_to sesiune.data_start.strftime("%B %Y") + " - " + sesiune.data_end.strftime("%B %Y"), browseHomeArhiva_path(sesiune_id: sesiune.id) %>
					<% end %>
				</td>

			</tr>
		<% end %>
	</tbody>
	</table>

<% end %>