<h1>Lista Features</h1>
<br/>

Pentru viitorii developeri - STOP - rails for zombies time! apoi va intoarceti aici.<br/><br/>

<!-- ce face fiecare camp din fiecare model -->

<em>db > <b>schema.rb</b></em>
<br/>
<b>User</b>
<table class="table table-striped table hover">
	<thead>
		<th></th>
		<th></th>
	</thead>
	<tbody>
		<tr>
			<td style="background-color: #F8F8FF">email</td>
			<td style="background-color: #F8F8FF">emailul userului</td>
		</tr>
		<tr>
			<td style="background-color: #F0FFFF">nume</td>
			<td style="background-color: #F0FFFF">numele userului</td>
		</tr>
		<tr>
			<td style="background-color: #F8F8FF">prenume</td>
			<td style="background-color: #F8F8FF">prenumele userului</td>
		</tr>
		<tr>
			<td style="background-color: #F0FFFF">rol</td>
			<td style="background-color: #F0FFFF">poate fi "Student", "Profesor" sau "Admin"</td>
		</tr>
		<tr>
			<td style="background-color: #F8F8FF">grupa</td>
			<td style="background-color: #F8F8FF">grupa studentului, altfel nil</td>
		</tr>
		<tr>
			<td style="background-color: #F0FFFF">grad</td>
			<td style="background-color: #F0FFFF">gradul profesorului "Profesor" > "Conferentiar" > "Lector" > "Asistent" > "Preparator", altfel nil</td>
		</tr>
		<tr>
			<td style="background-color: #F8F8FF">este_eligibil_licenta</td>
			<td style="background-color: #F8F8FF">doar studentii care isi dau licenta in sesiunea asta sunt eligibili. Profesorii cu grad mai mare de lector pot sa isi ia studenti la licenta, altfel nu sunt eligibili. Userii care nu sunt eligibili pt licenta, pot doar sa vizualizeze arhiva si temele din sesiunea curenta, fara a putea interactiona cu ele.</td>
		</tr>
		<tr>
			<td style="background-color: #F0FFFF">specializare</td>
			<td style="background-color: #F0FFFF">specializarea studentului poate fi: "Matematica", "Matematica Aplicata", "Matematica-Informatica", "Informatica", "CTI", iar la profesori: "Matematica", "Informatica", "Ambele". Exista profesori care desi apartin unui departament, pot sa ia studenti din toate specializarile - asa ca ei sunt marcati cu "Ambele" de catre admin in useriSpecializari</td>
		</tr>
		<tr>
			<td style="background-color: #F8F8FF">are_domeniu_propuneri_studenti</td>
			<td style="background-color: #F8F8FF">camp folosit doar de profesori, altfel nil. default este false. (vezi user_sessions_controller.rb) Cand il seteaza ca true, se creaza un domeniu nou numit "Propuneri Studenti". Cand il seteaza ca false, dc avea domeniu pt studenti inainte, se redenumeste in neclasificate.</td>
		</tr>
	</tbody>
</table>

<!-- features pe view -->

<b>Browse</b>
<table class="table table-striped table hover">
	<thead>
		<tr>
			<th>Done</th>
			<th>Feature</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><span class="glyphicon glyphicon-ok" style="color:green"/></td>
			<td><b>Browse teme si domenii.</b>
				<p><ul style="list-style-type: circle;">
					<li>Se afiseaza temele neluate din sesiunea curenta ale profilor eligibili pt licenta, dupa specializarea studentului logat. Sunt organizate dupa prof si domeniul din care fac parte. Profii logati vad toate temele si domeniile din sesiunea curenta indiferent de specializarea lor.</li> 
					<li>Au si ei pagina TemeleMele pt a-si gestiona temele si domeniile. Fiecare domeniu are pe pagina sa pe langa descriere si lista de teme din el. Iar pe pagina fiecarei teme, pt studenti, sunt 2 butoane: unul pt a alege tema pt licenta si celalalt pt a merge la pagina de discutii a temei.</li></ul></p>
			</td>
		</tr>
		<tr>
			<td><span class="glyphicon glyphicon-ok" style="color:green"/></td>
			<td><b>Search teme.</b> <p>Se folosesc cuvinte despartite de virgula si se cauta in numele temelor si descrierile lor. Se tine cont de specializarea studentului logat. Profii vad teme din toate specializarile.</p></td>
		</tr>
		<tr>
			<td><span class="glyphicon glyphicon-ok" style="color:green"/></td>
			<td><b>Teme propuse de studenti.</b> <p>Studentii pot propune teme numai sub domeniile "Propuneri Studenti". Unii profi nu au domeniul asta deci nu vor propuneri de la studenti. Nu se specifica ce student a propus-o.</p></td>
		</tr>
		<tr>
			<td><span class="glyphicon glyphicon-ok" style="color:green"/></td>
			<td><b>Discutii pe tema</b>
				<p><ul>
				<li><em>browse_pagini > <b>intreabaPage.html.erb</b></em></li>
				<li><em>browse_pagini_controller # <b>intreabaPage</b></em></li>
				<li><em>browse_pagini_controller # <b>adauga_comentariu</b></em></li>
				</ul></p>
				<p>Fiecare tema are propria ei pagina de discutii, unde studentii si profesorul temei posteaza comentarii. Asa se pot afla mai multe despre tema respectiva, iar conversatia este vizibila oricui.</p>
			</td>
		</tr>
		<tr>
			<td><span class="glyphicon glyphicon-ok" style="color:green"/></td>
			<td><b>Temele profesorilor</b>
				<p><ul>
				<li><em>browse_pagini > <b>temeleMele.html.erb</b></em></li>
				<li><em>browse_pagini_controller # <b>temeleMele</b></em></li>
				<li><em>browse_pagini_controller # <b>acceptStudenti</b></em></li>
				<li><em>browse_pagini_controller # <b>refuzStudenti</b></em></li> 
				 
				</ul></p>
				<p>Profesorii isi gestioneaza temele si domeniile pe pagina temeleMele. Pot sa permita sau nu ca studentii sa le propuna teme.</p>
			</td>
		</tr>
		<tr>
			<td><span class="glyphicon glyphicon-ok" style="color:green"/></td>
			<td><b>Alegerea licentei.</b> <p>Studentul poate alege orice tema din AlegerileMele la care a primit Accept de la prof. Si atunci este directionat la LicentaHome fara a mai avea acces la browse (doar la Arhiva pt vizualizare).</p></td>
		</tr>
	</tbody>
</table>
<br/><br/>

<b>Arhiva</b>
<table class="table table-striped table hover">
	<thead>
		<tr>
			<th>Done</th>
			<th>Feature</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><span class="glyphicon glyphicon-ok" style="color:green"/></td>
			<td><b>Arhiva Home.</b> <p>Lista de sesiuni de functionare. Eg: Oct 2013 - Iunie 2014.</p></td>
		</tr>
		<tr>
			<td><span class="glyphicon glyphicon-ok" style="color:green"/></td>
			<td><b>Browse Arhiva.</b> <p>Se pot vedea toate temele de la toate specializarile adaugate in sesiunea aceea in aceeasi forma ca la browse inclusiv cu pagina de discutii.</p></td>
		</tr>
	</tbody>
</table>
<br/><br/>

<b>Licenta</b>
<table class="table table-striped table hover">
	<thead>
		<tr>
			<th>Done</th>
			<th>Feature</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><span class="glyphicon glyphicon-ok" style="color:green"/></td>
			<td><b>Dezvoltarea licentei.</b> <p>Studentul poate sa isi gestioneze capitolele, fisierele si todo-urile. Progresul i se calculeaza dupa nr de todo-uri gata. Comunicarea cu proful se face prin commenturi la nivel de licenta, capitol si fisier. Proful poate sa download fisierele uploaded, poate sa raspunda la comentarii si poate sa urce fisiere numai in bibliografie.</p></td>
		</tr>
		<tr>
			<td><span class="glyphicon glyphicon-ok" style="color:green"/></td>
			<td><b>Renuntarea la licenta.</b> <p>Studentul poate sa renunte la licenta sa. Daca nu se ocupa, poate sa revina la ea si sa isi reia munca. Daca i-o ia altul, se sterge munca lui.</p></td>
		</tr>
		<tr>
			<td><span class="glyphicon glyphicon-remove" style="color:red"/></td>
			<td><b>Creare referat licenta.</b><p>Cand progresul unei licente a ajuns la 100% apare butonul de generare referat pe pagina StudentiiMei. Lipseste functionalitatea.</p></td>
		</tr>
	</tbody>
</table>
<br/><br/>

<b>Admin</b>
<table class="table table-striped table hover">
	<thead>
		<tr>
			<th>Done</th>
			<th>Feature</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><span class="glyphicon glyphicon-ok" style="color:green"/></td>
			<td><b>Specializari Profi si Eligibilitate Licenta Studenti.</b> <p>Adminul poate sa seteze "Ambele" ca specializare pt profii care pot fi luati si la info si la mate. Mai poate fi setata si eligibilitatea studentilor de a intra in licenta.</p></td>
		</tr>
		<tr>
			<td><span class="glyphicon glyphicon-time" style="color:orange"/></td>
			<td><b>Gestiune sesiuni de fucntionare a aplicatiei.</b> <p>In ControlPanel se da start si stop la aplicatie. Cand e pornita, se pot alege licente si este acces la pagina LicentaHome. Cand e oprita, este acces numai la arhiva si browse fara a vedea munca de la licenta.</p></td>
		</tr>
	</tbody>
</table>
<br/><br/>

<b>Interactiunea cu FMI API</b>
<table class="table table-striped table hover">
	<thead>
		<tr>
			<th>Done</th>
			<th>Feature</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><span class="glyphicon glyphicon-ok" style="color:green"/></td>
			<td><b>Logare.</b> <p>Cand un user se logheaza, iau datele care ma intereseaza ca sa le adaug la baza proprie de date: nume, prenume, mail, rol, grad, grupa, specializare si este_eligibil_licenta (eg: studentii de anul 2 pot doar sa se uite si la fel si asistentii si preparatorii care nu pot lua studenti la licenta).</p></td>
		</tr>
	</tbody>
</table>
<br/><br/>


