<h1>Upload fișier</h1>
<hr>

<%= render 'form' %>

<br/>
<% if params[:capitol_id] %>
	<%= link_to 'Înapoi', Capitol.find(params[:capitol_id]) %>
<% else %>
	<%= link_to 'Înapoi', root_path %>
<% end %>