<!-- <h1>Listing alegeri_user_temas</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Tema</th>
      <th>Status profesor</th>
      <th>Status student</th>
      <th>Sesiune</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    < @alegeri_user_temas.each do |alegeri_user_tema| %>
      <tr>
        <td><= alegeri_user_tema.user_id %></td>
        <td><= alegeri_user_tema.tema_id %></td>
        <td><= alegeri_user_tema.status_profesor %></td>
        <td><= alegeri_user_tema.status_student %></td>
        <td><= alegeri_user_tema.sesiune_id %></td>
        <td><= link_to 'Show', alegeri_user_tema %></td>
        <td><= link_to 'Edit', edit_alegeri_user_tema_path(alegeri_user_tema) %></td>
        <td><= link_to 'Destroy', alegeri_user_tema, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    < end %>
  </tbody>
</table>

<br>

<= link_to 'New Alegeri user tema', new_alegeri_user_tema_path %>
 -->